openapi: 3.0.3
info:
  title: 配送中心 SAAS 接口文档
  version: 2026-06-09-auto
  description: |-
    由 apifox-sync 自动捕获生成
    捕获时间: 2026-06-09T05:32:58.966Z
    共 50 个页面, 86 个接口
servers:
  - url: https://tcm-dc-sit.zgzykg.com.cn
    description: 配送中心 SAAS 生产环境
tags:
  - name: 默认调剂货位
    description: 基础数据 > 物料信息 > 默认调剂货位
  - name: 医疗机构类别-公司
    description: 基础数据 > 医疗机构信息 > 医疗机构类别-公司
  - name: 医疗机构档案-公司
    description: 基础数据 > 医疗机构信息 > 医疗机构档案-公司
  - name: 医疗机构档案
    description: 基础数据 > 医疗机构信息 > 医疗机构档案
  - name: 物料关系映射
    description: 基础数据 > 医疗机构信息 > 物料关系映射
  - name: 医疗机构申请表
    description: 基础数据 > 医疗机构信息 > 医疗机构申请表
  - name: 医院回传记录
    description: 基础数据 > 医疗机构信息 > 医院回传记录
  - name: 报错原处方单物料映射
    description: 基础数据 > 医疗机构信息 > 报错原处方单物料映射
  - name: 供应商类别-公司
    description: 基础数据 > 供应商信息 > 供应商类别-公司
  - name: 供应商-公司
    description: 基础数据 > 供应商信息 > 供应商-公司
  - name: 供应商
    description: 基础数据 > 供应商信息 > 供应商
  - name: 供应商申请表
    description: 基础数据 > 供应商信息 > 供应商申请表
  - name: 单据类型-全局
    description: 基础数据 > 作业信息 > 单据类型-全局
  - name: 单据类型-公司
    description: 基础数据 > 作业信息 > 单据类型-公司
  - name: 单据类型
    description: 基础数据 > 作业信息 > 单据类型
  - name: 价目表-公司
    description: 基础数据 > 结算管理 > 价目表-公司
  - name: 价格维护单-公司
    description: 基础数据 > 结算管理 > 价格维护单-公司
  - name: 价格变更单-公司
    description: 基础数据 > 结算管理 > 价格变更单-公司
  - name: 价格变更单-配送中心
    description: 基础数据 > 结算管理 > 价格变更单-配送中心
  - name: 价格维护单-配送中心
    description: 基础数据 > 结算管理 > 价格维护单-配送中心
  - name: 价目表-配送中心
    description: 基础数据 > 结算管理 > 价目表-配送中心
  - name: 打印设计
    description: 基础数据 > 打印管理 > 打印设计
  - name: 打印机
    description: 基础数据 > 打印管理 > 打印机
  - name: 打印模板
    description: 基础数据 > 打印管理 > 打印模板
  - name: 打印模板关联
    description: 基础数据 > 打印管理 > 打印模板关联
  - name: 打印日志
    description: 基础数据 > 打印管理 > 打印日志
  - name: 配送地址
    description: 基础数据 > 配送管理 > 配送地址
  - name: 配送规则
    description: 基础数据 > 配送管理 > 配送规则
  - name: 配送公司-全局
    description: 基础数据 > 配送管理 > 配送公司-全局
  - name: 配送服务
    description: 基础数据 > 配送管理 > 配送服务
  - name: 配送班次
    description: 基础数据 > 配送管理 > 配送班次
  - name: 处方时效
    description: 基础数据 > 配送管理 > 处方时效
  - name: 配送清单
    description: 基础数据 > 配送管理 > 配送清单
  - name: 机器类别-全局
    description: 基础数据 > 机器管理 > 机器类别-全局
  - name: 机器类别
    description: 基础数据 > 机器管理 > 机器类别
  - name: 机器档案
    description: 基础数据 > 机器管理 > 机器档案
  - name: 浸泡桶管理
    description: 基础数据 > 机器管理 > 浸泡桶管理
  - name: 事务管理-全局
    description: 基础数据 > 作业中心配置 > 事务管理-全局
  - name: 事务管理-公司
    description: 基础数据 > 作业中心配置 > 事务管理-公司
  - name: 作业流程自定义前后事务
    description: 基础数据 > 作业中心配置 > 作业流程自定义前后事务
  - name: 作业环节-公司
    description: 基础数据 > 作业中心配置 > 作业环节-公司
  - name: 作业流程
    description: 基础数据 > 作业中心配置 > 作业流程
  - name: 用户管理-公司
    description: 患者后台管理 > 用户管理-公司
  - name: 用户协议管理-公司
    description: 患者后台管理 > 用户协议管理-公司
  - name: 重点客户管理
    description: 患者后台管理 > 重点客户管理
  - name: 到货单
    description: 库存管理 > 到货单
  - name: 入库单
    description: 库存管理 > 入库单
  - name: 借药还药单
    description: 库存管理 > 借药还药单
  - name: 出库单
    description: 库存管理 > 出库单
  - name: 转库单
    description: 库存管理 > 转库单
paths:
  /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser:
    get:
      tags:
        - 默认调剂货位
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商类别-公司
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送公司-全局
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器类别-全局
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 作业流程自定义前后事务
        - 作业环节-公司
        - 用户管理-公司
        - 用户协议管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser
      description: 捕获自页面「默认调剂货位」
      operationId: get_pszxSaasServer_templates_query_queryTemplateCtrl_getQueryTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser:
    get:
      tags:
        - 默认调剂货位
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商类别-公司
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送公司-全局
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器类别-全局
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 作业流程自定义前后事务
        - 作业环节-公司
        - 用户管理-公司
        - 用户协议管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser
      description: 捕获自页面「默认调剂货位」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getShowColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup:
    get:
      tags:
        - 默认调剂货位
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商类别-公司
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送公司-全局
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器类别-全局
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 作业流程自定义前后事务
        - 作业环节-公司
        - 用户管理-公司
        - 用户协议管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup
      description: 捕获自页面「默认调剂货位」
      operationId: get_pszxSaasServer_basic_org_orgParamsCtrl_getParamsWithGroup
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: pkGroup
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel:
    get:
      tags:
        - 默认调剂货位
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商类别-公司
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印设计
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送公司-全局
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器类别-全局
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 作业流程自定义前后事务
        - 作业环节-公司
        - 用户管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel
      description: 捕获自页面「默认调剂货位」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItemLabel
      parameters:
        - name: value
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme:
    post:
      tags:
        - 默认调剂货位
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商类别-公司
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送公司-全局
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器类别-全局
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 作业流程自定义前后事务
        - 作业环节-公司
        - 用户管理-公司
        - 用户协议管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: POST /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme (page)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_templates_query_personalTemplateCtrl_personalTemplateCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: sort
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: userId
                      value:
                        type: array
                        items:
                          type: number
                          example: 20019
                        example:
                          - 20019
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: userId
                      value:
                        - 20019
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/getOrgTree:
    post:
      tags:
        - 默认调剂货位
        - 物料关系映射
        - 医疗机构申请表
        - 医院回传记录
        - 报错原处方单物料映射
        - 供应商申请表
        - 价格维护单-配送中心
        - 打印机
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送地址
        - 配送规则
        - 配送服务
        - 配送班次
        - 处方时效
        - 配送清单
        - 机器档案
        - 浸泡桶管理
        - 作业流程自定义前后事务
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: POST /pszxSaasServer/org/orgOrgCtrl/getOrgTree (functionCodeObj)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_org_orgOrgCtrl_getOrgTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    query:
                      type: string
                      example: OrgOrg_org
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: string
                          example: ${user.belongOrgList}
                        example:
                          - ${user.belongOrgList}
                      operation:
                        type: string
                        example: in
                  example:
                    - field: id
                      value:
                        - ${user.belongOrgList}
                      operation: in
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/warehouse/warehouseCtrl/listByScheme:
    post:
      tags:
        - 默认调剂货位
        - 物料关系映射
        - 入库单
        - 出库单
        - 转库单
      summary: POST /pszxSaasServer/warehouse/warehouseCtrl/listByScheme (page)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_warehouse_warehouseCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_WAREHOUSE_org
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code,name
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code,name
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/materialArchiveLocationCtrl/listByScheme:
    post:
      tags:
        - 默认调剂货位
      summary: POST /pszxSaasServer/archive/mat/materialArchiveLocationCtrl/listByScheme (pageSize)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_archive_mat_materialArchiveLocationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2057298077416165377'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '2057298077416165377'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: '2057298077378416640'
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: MaterialArchiveLocationOrg
                    header:
                      type: string
                      example: MaterialArchiveLocation_org
                    query:
                      type: string
                      example: MaterialArchiveLocation_org
                    bill:
                      type: string
                      example: MaterialArchiveLocation_org
                    controller:
                      type: string
                      example: /archive/mat/materialArchiveLocationCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: MaterialArchiveLocation_org
                        billType:
                          type: string
                          example: 默认调剂货位
                        orgLevel:
                          type: string
                          example: org
                    batchImportProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: MaterialArchiveLocation_org
                        billType:
                          type: string
                          example: 默认调剂货位
                        orgLevel:
                          type: string
                          example: org
                        excludeFields:
                          type: array
                          items:
                            type: string
                            example: pkOrg
                          example:
                            - pkOrg
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/businessType/businessTypeCtrl/listByScheme:
    post:
      tags:
        - 默认调剂货位
        - 物料关系映射
        - 报错原处方单物料映射
        - 打印模板关联
        - 配送规则
        - 配送清单
        - 机器档案
      summary: POST /pszxSaasServer/businessType/businessTypeCtrl/listByScheme (page)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_businessType_businessTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: deleteflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: deleteflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/location/locationCtrl/listByScheme:
    post:
      tags:
        - 默认调剂货位
      summary: POST /pszxSaasServer/location/locationCtrl/listByScheme (page)
      description: 捕获自页面「默认调剂货位」
      operationId: post_pszxSaasServer_location_locationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_LOCATION_org
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code,name
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code,name
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgGroupCtrl/getGroupTree:
    post:
      tags:
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 供应商类别-公司
        - 供应商-公司
        - 单据类型-公司
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 事务管理-公司
        - 作业环节-公司
      summary: POST /pszxSaasServer/org/orgGroupCtrl/getGroupTree (functionCode=OrgGroup)
      description: 捕获自页面「医疗机构类别-公司」
      operationId: post_pszxSaasServer_org_orgGroupCtrl_getGroupTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: OrgGroup
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: string
                          example: ${user.pkGroupList}
                        example:
                          - ${user.pkGroupList}
                      operation:
                        type: string
                        example: in
                  example:
                    - field: id
                      value:
                        - ${user.pkGroupList}
                      operation: in
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalTypeCtrl/listByScheme:
    post:
      tags:
        - 医疗机构类别-公司
        - 医疗机构档案-公司
        - 医疗机构申请表
      summary: POST /pszxSaasServer/hospital/hospitalTypeCtrl/listByScheme (pageSize)
      description: 捕获自页面「医疗机构类别-公司」
      operationId: post_pszxSaasServer_hospital_hospitalTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 409c3e07f89444dabf707481227e3fe7
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 409c3e07f89444dabf707481227e3fe7
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 1c074c7e35d94dd3b6169fe4e324ab0a
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: HospitalTypeGroup
                    header:
                      type: string
                      example: HospitalType_group
                    query:
                      type: string
                      example: HospitalType_group
                    bill:
                      type: string
                      example: HospitalType_group
                    controller:
                      type: string
                      example: /hospital/hospitalTypeCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: HospitalType_group
                        billType:
                          type: string
                          example: 医疗机构类别表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszxOrgOrg/pszxOrgOrgCtrl/listByScheme:
    post:
      tags:
        - 医疗机构档案-公司
      summary: POST /pszxSaasServer/pszxOrgOrg/pszxOrgOrgCtrl/listByScheme (functionCode=pszxOrgOrg_org)
      description: 捕获自页面「医疗机构档案-公司」
      operationId: post_pszxSaasServer_pszxOrgOrg_pszxOrgOrgCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: pszxOrgOrg_org
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: parentId
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: parentId
                      value:
                        - 00013A1000000000VGSD
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser:
    get:
      tags:
        - 医疗机构档案-公司
        - 物料关系映射
        - 单据类型-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser
      description: 捕获自页面「医疗机构档案-公司」
      operationId: get_pszxSaasServer_templates_bill_billTemplateCtrl_getBillTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser:
    get:
      tags:
        - 医疗机构档案-公司
        - 物料关系映射
        - 单据类型-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 用户管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser
      description: 捕获自页面「医疗机构档案-公司」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getEditColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser:
    get:
      tags:
        - 医疗机构档案-公司
        - 物料关系映射
        - 单据类型-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 用户管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser
      description: 捕获自页面「医疗机构档案-公司」
      operationId: get_pszxSaasServer_templates_rule_billTemplateRuleCtrl_getFormTemplateRulesByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren:
    post:
      tags:
        - 医疗机构档案-公司
        - 医疗机构档案
        - 医疗机构申请表
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
      summary: POST /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren (page)
      description: 捕获自页面「医疗机构档案-公司」
      operationId: post_pszxSaasServer_hospital_hospitalArchiveCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalArchive_group
                    query:
                      type: string
                      example: HospitalArchive_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
        - 医院回传记录
        - 报错原处方单物料映射
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印模板关联
        - 配送规则
        - 处方时效
        - 配送清单
        - 用户管理-公司
        - 借药还药单
      summary: POST /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_hospital_hospitalDistributeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalDistribute_org_source
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: hospitalFullName
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: hospitalFullName
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/level/levelCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/level/levelCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_level_levelCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_LEVEL_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/area/areaCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/area/areaCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_area_areaCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: Area_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/drug/part/drugPartCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/archive/drug/part/drugPartCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_archive_drug_part_drugPartCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: DrugPart_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mr/materialRelationHeadCtrl/listWithChildren:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/archive/mr/materialRelationHeadCtrl/listWithChildren (pageSize)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_archive_mr_materialRelationHeadCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 89f8d7caa9fe4290829ddd4354a8c9c9
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: head.pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 89f8d7caa9fe4290829ddd4354a8c9c9
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: head.pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 5ac5778a48b44f02bbb4c19a03b6c920
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isOrg:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: MaterialRelationOrg
                    header:
                      type: string
                      example: MaterialRelationHead_org
                    query:
                      type: string
                      example: MaterialRelationHead_org
                    bill:
                      type: string
                      example: MaterialRelationHead_org
                    bodyController:
                      type: string
                      example: /archive/mr/materialRelationBodyCtrl
                    controller:
                      type: string
                      example: /archive/mr/materialRelationCtrl
                    materialRelationBody:
                      type: string
                      example: MaterialRelationBody_org
                    prescriptionBody:
                      type: string
                      example: MaterialRelationBody_org
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: MaterialRelationHead_org
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: MaterialRelationBody_org
                        billType:
                          type: string
                          example: 物料关系映射表
                        orgLevel:
                          type: string
                          example: org
                    batchImportProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: MaterialRelationHead_org
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: MaterialRelationBody_org
                        billType:
                          type: string
                          example: 物料关系映射表
                        orgLevel:
                          type: string
                          example: org
                        excludeFields:
                          type: array
                          items:
                            type: string
                            example: pkOrg
                          example:
                            - pkOrg
                        excludeItemFields:
                          type: object
                          properties:
                            '0':
                              type: array
                              items:
                                type: string
                                example: pkOrg
                              example:
                                - pkOrg
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mr/materialRelationCtrl/getDetail:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/archive/mr/materialRelationCtrl/getDetail (id=2061622728258752512)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_archive_mr_materialRelationCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2061622728258752512'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: MaterialRelationBody_org
                    '1':
                      type: string
                      example: MaterialRelationBody_org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/producer/producerCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/producer/producerCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_producer_producerCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_PRODUCER_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/specification/specificationCtrl/listByScheme:
    post:
      tags:
        - 物料关系映射
      summary: POST /pszxSaasServer/specification/specificationCtrl/listByScheme (page)
      description: 捕获自页面「物料关系映射」
      operationId: post_pszxSaasServer_specification_specificationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_SPECIFICATION_group_ref
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printTmpCtrl/listByScheme:
    post:
      tags:
        - 医疗机构申请表
        - 供应商申请表
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 打印模板
        - 打印模板关联
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: POST /pszxSaasServer/print/printTmpCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「医疗机构申请表」
      operationId: post_pszxSaasServer_print_printTmpCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PrintTmp_org
                    query:
                      type: string
                      example: PrintTmp_org
                page:
                  type: boolean
                  example: false
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: enableflag
                      value:
                        type: array
                        items:
                          type: string
                          example: '0'
                        example:
                          - '0'
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: enableflag
                      value:
                        - '0'
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems:
    get:
      tags:
        - 医疗机构申请表
        - 医院回传记录
        - 供应商-公司
        - 供应商申请表
        - 单据类型-全局
        - 价目表-公司
        - 价格维护单-公司
        - 价格变更单-公司
        - 价格变更单-配送中心
        - 价格维护单-配送中心
        - 价目表-配送中心
        - 打印模板
        - 打印模板关联
        - 打印日志
        - 配送规则
        - 处方时效
        - 配送清单
        - 机器档案
        - 浸泡桶管理
        - 事务管理-全局
        - 事务管理-公司
        - 到货单
        - 入库单
        - 借药还药单
        - 出库单
        - 转库单
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems
      description: 捕获自页面「医疗机构申请表」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItems
      parameters:
        - name: dictionaryCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalArchiveApplyCtrl/listByScheme:
    post:
      tags:
        - 医疗机构申请表
      summary: POST /pszxSaasServer/hospital/hospitalArchiveApplyCtrl/listByScheme (pageSize)
      description: 捕获自页面「医疗机构申请表」
      operationId: post_pszxSaasServer_hospital_hospitalArchiveApplyCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 0203da14abdf4f39a50a1ed8648ed948
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 0203da14abdf4f39a50a1ed8648ed948
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: b333330402c1480fbac8f1af651c6766
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: true
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: HospitalArchiveApplyOrg
                    header:
                      type: string
                      example: HospitalArchiveApply_org
                    query:
                      type: string
                      example: HospitalArchiveApply_org
                    bill:
                      type: string
                      example: HospitalArchiveApply_org
                    controller:
                      type: string
                      example: /hospital/hospitalArchiveApplyCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: HospitalArchiveApply_org
                        billType:
                          type: string
                          example: 医疗机构档案申请表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/work/link/workLinkCtrl/listByScheme:
    post:
      tags:
        - 医院回传记录
        - 作业环节-公司
      summary: POST /pszxSaasServer/work/link/workLinkCtrl/listByScheme (page)
      description: 捕获自页面「医院回传记录」
      operationId: post_pszxSaasServer_work_link_workLinkCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: WorkLink_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/herb/record/prescriptCallbackHosCtrl/listByScheme:
    post:
      tags:
        - 医院回传记录
      summary: POST /pszxSaasServer/herb/record/prescriptCallbackHosCtrl/listByScheme (pageSize)
      description: 捕获自页面「医院回传记录」
      operationId: post_pszxSaasServer_herb_record_prescriptCallbackHosCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: cd9e0f1a6e40453493546496f586b741
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: cd9e0f1a6e40453493546496f586b741
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: d4f2e84bc585494ba3b587cb8e2a6c71
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: GITLAB_PROJECTOrg
                    header:
                      type: string
                      example: GITLAB_PROJECT_org
                    query:
                      type: string
                      example: GITLAB_PROJECT_org
                    bill:
                      type: string
                      example: GITLAB_PROJECT_org
                    controller:
                      type: string
                      example: /herb/record/prescriptCallbackHosCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: GITLAB_PROJECT_org
                        billType:
                          type: string
                          example: 医院回传记录
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/relationErr/rxMatRelationErrCtrl/listByScheme:
    post:
      tags:
        - 报错原处方单物料映射
      summary: POST /pszxSaasServer/archive/relationErr/rxMatRelationErrCtrl/listByScheme (pageSize)
      description: 捕获自页面「报错原处方单物料映射」
      operationId: post_pszxSaasServer_archive_relationErr_rxMatRelationErrCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 20632c81ac3745bca2953e7e71258f38
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 20632c81ac3745bca2953e7e71258f38
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 32d1dd38ac5141cfae901b086899be6d
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: RxMatRelationErrOrg
                    header:
                      type: string
                      example: RxMatRelationErr_org
                    query:
                      type: string
                      example: RxMatRelationErr_org
                    bill:
                      type: string
                      example: RxMatRelationErr_org
                    controller:
                      type: string
                      example: /archive/relationErr/rxMatRelationErrCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: RxMatRelationErr_org
                        billType:
                          type: string
                          example: 原处方单物料映射错误表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/supplier/supplierTypeCtrl/listByScheme:
    post:
      tags:
        - 供应商类别-公司
        - 供应商-公司
        - 供应商
        - 供应商申请表
      summary: POST /pszxSaasServer/supplier/supplierTypeCtrl/listByScheme (page)
      description: 捕获自页面「供应商类别-公司」
      operationId: post_pszxSaasServer_supplier_supplierTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: SupplierType_group
                    query:
                      type: string
                      example: SupplierType_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: notIn
                  example:
                    - field: code
                      value:
                        - null
                      operation: notIn
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/supplier/supplierCtrl/listByScheme:
    post:
      tags:
        - 供应商-公司
      summary: POST /pszxSaasServer/supplier/supplierCtrl/listByScheme (pageSize)
      description: 捕获自页面「供应商-公司」
      operationId: post_pszxSaasServer_supplier_supplierCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1acb02c8d69d4a70914e9ea6a80d784b
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 1acb02c8d69d4a70914e9ea6a80d784b
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 4e441e9cc1cb43aca622d24011169b0d
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SupplierGroup
                    header:
                      type: string
                      example: Supplier_group
                    query:
                      type: string
                      example: Supplier_group
                    bill:
                      type: string
                      example: Supplier_group
                    controller:
                      type: string
                      example: /supplier/supplierCtrl
                    addNewParams:
                      type: object
                      properties: {}
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: Supplier_group
                        billType:
                          type: string
                          example: 供应商表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/supplier/supplierApplyCtrl/listByScheme:
    post:
      tags:
        - 供应商申请表
      summary: POST /pszxSaasServer/supplier/supplierApplyCtrl/listByScheme (pageSize)
      description: 捕获自页面「供应商申请表」
      operationId: post_pszxSaasServer_supplier_supplierApplyCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 53f083bc706c4252870a5c8492f2fb2f
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 53f083bc706c4252870a5c8492f2fb2f
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 58d95ebf2eb64d26a66b580db822e485
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: true
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SupplierApplyOrg
                    header:
                      type: string
                      example: SupplierApply_org
                    query:
                      type: string
                      example: SupplierApply_org
                    bill:
                      type: string
                      example: SupplierApply_org
                    controller:
                      type: string
                      example: /supplier/supplierApplyCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: SupplierApply_org
                        billType:
                          type: string
                          example: 供应商申请表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeCtrl/listWithChildren:
    post:
      tags:
        - 单据类型-全局
        - 单据类型-公司
        - 单据类型
      summary: POST /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeCtrl/listWithChildren (pageSize)
      description: 捕获自页面「单据类型-全局」
      operationId: post_pszxSaasServer_ic_basic_flow_icBillType_icBillTypeCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 101104efa89c473a95ebc51399622677
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: head.classify
                      operation:
                        type: string
                        example: like
                  example:
                    - id: 101104efa89c473a95ebc51399622677
                      value:
                        - null
                      field: head.classify
                      operation: like
                templateId:
                  type: string
                  example: 5d6438d6145b4788b4815dca742bc35f
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: IcBillTypeBillGlobal
                    header:
                      type: string
                      example: IcBillType_global
                    query:
                      type: string
                      example: IcBillType_global
                    bill:
                      type: string
                      example: IcBillType_global
                    bodyController:
                      type: string
                      example: /ic/basic/flow/icBillType/icBillTypeApproveNodeCtrl
                    controller:
                      type: string
                      example: /ic/basic/flow/icBillType/icBillTypeBillCtrl
                    icBillTypeApproveNode:
                      type: string
                      example: IcBillTypeApproveNode_global
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcBillType_global
                        billType:
                          type: string
                          example: 单据类型表
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeBillCtrl/getDetail:
    post:
      tags:
        - 单据类型-公司
      summary: POST /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeBillCtrl/getDetail (id=2027650383316385792)
      description: 捕获自页面「单据类型-公司」
      operationId: post_pszxSaasServer_ic_basic_flow_icBillType_icBillTypeBillCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2027650383316385792'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: IcBillTypeApproveNode_group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/settlement/price/settlePriceCtrl/listByScheme:
    post:
      tags:
        - 价目表-公司
        - 价目表-配送中心
        - 打印设计
      summary: POST /pszxSaasServer/settlement/price/settlePriceCtrl/listByScheme (pageSize)
      description: 捕获自页面「价目表-公司」
      operationId: post_pszxSaasServer_settlement_price_settlePriceCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: df289d01c69847b8b24b76745ae09f3d
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: df289d01c69847b8b24b76745ae09f3d
                      value:
                        - '1787720377238028288'
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: e3b06793773447fc8b6b05f2ae0c77fa
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SettlePriceGroup
                    header:
                      type: string
                      example: SettlePrice_group
                    query:
                      type: string
                      example: SettlePrice_group
                    bill:
                      type: string
                      example: SettlePrice_group
                    controller:
                      type: string
                      example: /settlement/price/settlePriceCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: SettlePrice_group
                        billType:
                          type: string
                          example: 价目表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/settlement/price/settlePriceManageCtrl/listWithChildren:
    post:
      tags:
        - 价格维护单-公司
        - 价格维护单-配送中心
      summary: POST /pszxSaasServer/settlement/price/settlePriceManageCtrl/listWithChildren (pageSize)
      description: 捕获自页面「价格维护单-公司」
      operationId: post_pszxSaasServer_settlement_price_settlePriceManageCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 6aac0fd7efc543dcba685a4401171a94
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: head.pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 6aac0fd7efc543dcba685a4401171a94
                      value:
                        - '1787720377238028288'
                        - global
                      field: head.pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 79e9092ea4c14b639a87edf1e7943a5a
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isGroup:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SettlePriceManageBillGroup
                    header:
                      type: string
                      example: SettlePriceManage_group
                    query:
                      type: string
                      example: SettlePriceManage_group
                    bill:
                      type: string
                      example: SettlePriceManage_group
                    bodyController:
                      type: string
                      example: /settlement/price/settlePriceManageBodyCtrl
                    controller:
                      type: string
                      example: /settlement/price/settlePriceManageBillCtrl
                    settlePriceManageBody:
                      type: string
                      example: SettlePriceManageBody_group
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: SettlePriceManage_group
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: SettlePriceManageBody_group
                        billType:
                          type: string
                          example: 价格维护
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/settlement/price/settlePriceManageBillCtrl/getDetail:
    post:
      tags:
        - 价格维护单-公司
        - 价格维护单-配送中心
      summary: POST /pszxSaasServer/settlement/price/settlePriceManageBillCtrl/getDetail (id=2036642487081897984)
      description: 捕获自页面「价格维护单-公司」
      operationId: post_pszxSaasServer_settlement_price_settlePriceManageBillCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2036642487081897984'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: SettlePriceManageBody_group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/settlement/price/settlePriceChangeCtrl/listWithChildren:
    post:
      tags:
        - 价格变更单-公司
        - 价格变更单-配送中心
      summary: POST /pszxSaasServer/settlement/price/settlePriceChangeCtrl/listWithChildren (pageSize)
      description: 捕获自页面「价格变更单-公司」
      operationId: post_pszxSaasServer_settlement_price_settlePriceChangeCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 65454bb7145a4c32a0ab3156bd6f58ed
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: head.pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 65454bb7145a4c32a0ab3156bd6f58ed
                      value:
                        - '1787720377238028288'
                        - global
                      field: head.pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 61f65890b0fd4150b78841b3486be08c
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isGroup:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SettlePriceChangeBillGroup
                    header:
                      type: string
                      example: SettlePriceChange_group
                    query:
                      type: string
                      example: SettlePriceChange_group
                    bill:
                      type: string
                      example: SettlePriceChange_group
                    bodyController:
                      type: string
                      example: /settlement/price/settlePriceChangeBodyCtrl
                    controller:
                      type: string
                      example: /settlement/price/settlePriceChangeBillCtrl
                    settlePriceChangeBody:
                      type: string
                      example: SettlePriceChangeBody_group
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: SettlePriceChange_group
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: SettlePriceChangeBody_group
                        billType:
                          type: string
                          example: 价格变更表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/settlement/price/settlePriceChangeBillCtrl/getDetail:
    post:
      tags:
        - 价格变更单-公司
        - 价格变更单-配送中心
      summary: POST /pszxSaasServer/settlement/price/settlePriceChangeBillCtrl/getDetail (id=2054472406797127680)
      description: 捕获自页面「价格变更单-公司」
      operationId: post_pszxSaasServer_settlement_price_settlePriceChangeBillCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2054472406797127680'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: SettlePriceChangeBody_group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/listByScheme:
    post:
      tags:
        - 价格变更单-配送中心
        - 价目表-配送中心
      summary: POST /pszxSaasServer/org/orgOrgCtrl/listByScheme (functionCode=OrgOrg_org)
      description: 捕获自页面「价格变更单-配送中心」
      operationId: post_pszxSaasServer_org_orgOrgCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: OrgOrg_org
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: OrgOrg_org
                    query:
                      type: string
                      example: OrgOrg_org
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: deleteflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: deleteflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printTmpCtrl/getCode:
    get:
      tags:
        - 打印设计
      summary: GET /pszxSaasServer/print/printTmpCtrl/getCode
      description: 捕获自页面「打印设计」
      operationId: get_pszxSaasServer_print_printTmpCtrl_getCode
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printerCtrl/listByScheme:
    post:
      tags:
        - 打印机
      summary: POST /pszxSaasServer/print/printerCtrl/listByScheme (pageSize)
      description: 捕获自页面「打印机」
      operationId: post_pszxSaasServer_print_printerCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3264bd343a284126b05091748ddc6269
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 3264bd343a284126b05091748ddc6269
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 05a866fa865b4a9cbf822a3b31bf9232
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PrinterOrg
                    header:
                      type: string
                      example: Printer_org
                    query:
                      type: string
                      example: Printer_org
                    bill:
                      type: string
                      example: Printer_org
                    controller:
                      type: string
                      example: /print/printerCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: Printer_org
                        billType:
                          type: string
                          example: 打印机
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/listOrgByCurrentUser:
    get:
      tags:
        - 打印模板
      summary: GET /pszxSaasServer/org/orgOrgCtrl/listOrgByCurrentUser
      description: 捕获自页面「打印模板」
      operationId: get_pszxSaasServer_org_orgOrgCtrl_listOrgByCurrentUser
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printConfigCtrl/listByScheme:
    post:
[...]
