openapi: 3.0.3
info:
  title: 配送中心 SAAS 接口文档
  version: 2026-06-09-auto
  description: |-
    由 apifox-sync 自动捕获生成
    捕获时间: 2026-06-09T05:40:14.694Z
    共 40 个页面, 97 个接口
servers:
  - url: https://tcm-dc-sit.zgzykg.com.cn
    description: 配送中心 SAAS 生产环境
tags:
  - name: 盘点单
    description: 库存管理 > 盘点单
  - name: 现存量
    description: 库存管理 > 现存量
  - name: 协定方现存量
    description: 库存管理 > 协定方现存量
  - name: 库存预警
    description: 库存管理 > 库存预警
  - name: 效期预警
    description: 库存管理 > 效期预警
  - name: 库存出入库流水
    description: 库存管理 > 库存出入库流水
  - name: 库存占用
    description: 库存管理 > 库存占用
  - name: 库存明细
    description: 库存管理 > 库存明细
  - name: 库存明细NC相关
    description: 库存管理 > 库存明细NC相关
  - name: 借药报表
    description: 库存管理 > 借药报表
  - name: 推单日志
    description: 库存管理 > 推单日志
  - name: 重复检测索引
    description: 订单管理 > 重复检测索引
  - name: 医院认证配置
    description: 订单管理 > 医院认证配置
  - name: 接口字段配置-全局
    description: 订单管理 > 接口字段配置-全局
  - name: 接口字段配置
    description: 订单管理 > 接口字段配置
  - name: 请求日志
    description: 订单管理 > 请求日志
  - name: 报文处理记录
    description: 订单管理 > 报文处理记录
  - name: 医院外系统接口档案
    description: 订单管理 > 医院外系统接口档案
  - name: 医院外系统接口映射档案
    description: 订单管理 > 医院外系统接口映射档案
  - name: 处方性质煎煮时间
    description: 处方受理 > 处方性质煎煮时间
  - name: 处方单转换规则-全局
    description: 处方受理 > 处方单转换规则-全局
  - name: 处方单转换规则-配送中心
    description: 处方受理 > 处方单转换规则-配送中心
  - name: 原处方单
    description: 处方受理 > 原处方单
  - name: 处方单
    description: 处方受理 > 处方单
  - name: 原处方单模板
    description: 处方受理 > 原处方单模板
  - name: 处方看板
    description: 处方受理 > 处方看板
  - name: 销售发票
    description: 财务结算 > 销售发票
  - name: 损耗单
    description: 财务结算 > 损耗单
  - name: 预销售单
    description: 财务结算 > 预销售单
  - name: 销售结算单
    description: 财务结算 > 销售结算单
  - name: NC余留库存管理
    description: 财务结算 > NC余留库存管理
  - name: 余留单
    description: 财务结算 > 余留单
  - name: 销售订单
    description: 财务结算 > 销售订单
  - name: NC仓库
    description: 财务结算 > NC仓库
  - name: 出库申请单
    description: 财务结算 > 出库申请单
  - name: dataease报表测试
    description: 数据报表 > dataease报表测试
  - name: 物料默认货位
    description: 数据报表 > 物料默认货位
  - name: 作业控制台
    description: 作业控制台
  - name: 数据源管理
    description: 数据源管理
  - name: 空间消杀记录
    description: 空间消杀记录
paths:
  /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser:
    get:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 接口字段配置-全局
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - NC余留库存管理
        - 余留单
        - 销售订单
        - NC仓库
        - 出库申请单
        - 作业控制台
        - 空间消杀记录
      summary: GET /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_templates_query_queryTemplateCtrl_getQueryTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser:
    get:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 接口字段配置-全局
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - NC余留库存管理
        - 余留单
        - 销售订单
        - NC仓库
        - 出库申请单
        - 作业控制台
        - 空间消杀记录
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getShowColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser:
    get:
      tags:
        - 盘点单
        - 协定方现存量
        - 医院外系统接口档案
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - 余留单
        - 销售订单
        - 出库申请单
        - 作业控制台
      summary: GET /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_templates_bill_billTemplateCtrl_getBillTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser:
    get:
      tags:
        - 盘点单
        - 协定方现存量
        - 借药报表
        - 医院外系统接口档案
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - 余留单
        - 销售订单
        - 出库申请单
        - 作业控制台
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getEditColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printTmpCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 作业控制台
      summary: POST /pszxSaasServer/print/printTmpCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_print_printTmpCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PrintTmp_org
                    query:
                      type: string
                      example: PrintTmp_org
                page:
                  type: boolean
                  example: false
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: enableflag
                      value:
                        type: array
                        items:
                          type: string
                          example: '0'
                        example:
                          - '0'
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: enableflag
                      value:
                        - '0'
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel:
    get:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 处方看板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - NC余留库存管理
        - 余留单
        - 销售订单
        - NC仓库
        - 出库申请单
        - 作业控制台
        - 空间消杀记录
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItemLabel
      parameters:
        - name: value
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup:
    get:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 接口字段配置-全局
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - NC余留库存管理
        - 余留单
        - 销售订单
        - NC仓库
        - 出库申请单
        - 作业控制台
        - 空间消杀记录
      summary: GET /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_basic_org_orgParamsCtrl_getParamsWithGroup
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: pkGroup
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listByScheme:
    post:
      tags:
        - 盘点单
      summary: POST /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_archive_mat_type_materialArchiveTypeHeadCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchiveTypeHead_group_source
                    query:
                      type: string
                      example: MaterialArchiveTypeHead_group_source
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 999
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser:
    get:
      tags:
        - 盘点单
        - 协定方现存量
        - 借药报表
        - 医院外系统接口档案
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - 余留单
        - 销售订单
        - 出库申请单
        - 作业控制台
      summary: GET /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_templates_rule_billTemplateRuleCtrl_getFormTemplateRulesByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 接口字段配置-全局
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - NC余留库存管理
        - 余留单
        - 销售订单
        - NC仓库
        - 出库申请单
        - 作业控制台
        - 空间消杀记录
      summary: POST /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme (page)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_templates_query_personalTemplateCtrl_personalTemplateCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: sort
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: userId
                      value:
                        type: array
                        items:
                          type: number
                          example: 20019
                        example:
                          - 20019
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: userId
                      value:
                        - 20019
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/getOrgTree:
    post:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 库存明细NC相关
        - 借药报表
        - 推单日志
        - 重复检测索引
        - 医院认证配置
        - 请求日志
        - 报文处理记录
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 销售结算单
        - 余留单
        - 销售订单
        - NC仓库
        - 作业控制台
        - 空间消杀记录
      summary: POST /pszxSaasServer/org/orgOrgCtrl/getOrgTree (functionCodeObj)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_org_orgOrgCtrl_getOrgTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    query:
                      type: string
                      example: OrgOrg_org
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: string
                          example: ${user.belongOrgList}
                        example:
                          - ${user.belongOrgList}
                      operation:
                        type: string
                        example: in
                  example:
                    - field: id
                      value:
                        - ${user.belongOrgList}
                      operation: in
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems:
    get:
      tags:
        - 盘点单
        - 库存预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 借药报表
        - 推单日志
        - 请求日志
        - 报文处理记录
        - 医院外系统接口档案
        - 处方性质煎煮时间
        - 处方单转换规则-全局
        - 处方单转换规则-配送中心
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 余留单
        - 销售订单
        - 作业控制台
        - 空间消杀记录
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems
      description: 捕获自页面「盘点单」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItems
      parameters:
        - name: dictionaryCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/warehouse/warehouseCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 现存量
        - 协定方现存量
        - 库存预警
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/warehouse/warehouseCtrl/listByScheme (page)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_warehouse_warehouseCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_WAREHOUSE_org
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code,name
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code,name
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/invcount/invCountOrderCtrl/listWithChildren:
    post:
      tags:
        - 盘点单
      summary: POST /pszxSaasServer/ic/invcount/invCountOrderCtrl/listWithChildren (pageSize)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_ic_invcount_invCountOrderCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 4f7af400faed4387b88b78e8b9aef737
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: head.pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 4f7af400faed4387b88b78e8b9aef737
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: head.pkOrg
                      operation: in
                templateId:
                  type: string
                  example: d67acc333093431e8bef217cc99eafe6
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isOrg:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: InvCountOrderBillOrg
                    header:
                      type: string
                      example: InvCountOrder_org
                    query:
                      type: string
                      example: InvCountOrder_org
                    bill:
                      type: string
                      example: InvCountOrder_org
                    bodyController:
                      type: string
                      example: /ic/invcount/invCountDetailCtrl
                    controller:
                      type: string
                      example: /ic/invcount/invCountOrderBillCtrl
                    invCountDetail:
                      type: string
                      example: InvCountDetail_org
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: InvCountOrder_org
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: InvCountDetail_org
                        billType:
                          type: string
                          example: 盘点单表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 借药报表
        - 销售订单
        - 作业控制台
      summary: POST /pszxSaasServer/ic/basic/flow/icBillType/icBillTypeCtrl/listByScheme (page)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_ic_basic_flow_icBillType_icBillTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/materialArchiveDistributeCtrl/listByScheme:
    post:
      tags:
        - 盘点单
      summary: POST /pszxSaasServer/archive/mat/materialArchiveDistributeCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_archive_mat_materialArchiveDistributeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchiveDistribute_org_source
                    query:
                      type: string
                      example: MaterialArchiveDistribute_org_source
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: parentId
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: parentId
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/lotInfo/lotInfoCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - NC余留库存管理
      summary: POST /pszxSaasServer/lotInfo/lotInfoCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_lotInfo_lotInfoCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_LOT_INFO_org
                    query:
                      type: string
                      example: PSZX_LOT_INFO_org
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/batchInfo/batchInfoCtrl/listByScheme:
    post:
      tags:
        - 盘点单
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - NC余留库存管理
      summary: POST /pszxSaasServer/batchInfo/batchInfoCtrl/listByScheme (page)
      description: 捕获自页面「盘点单」
      operationId: post_pszxSaasServer_batchInfo_batchInfoCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_BATCH_INFO_org
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateWithGroupBy:
    get:
      tags:
        - 现存量
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateWithGroupBy
      description: 捕获自页面「现存量」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getShowColumnTemplateWithGroupBy
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listWithChildren:
    post:
      tags:
        - 现存量
        - 效期预警
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listWithChildren (functionCode=MaterialArchiveTypeHead_group)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_archive_mat_type_materialArchiveTypeHeadCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: MaterialArchiveTypeHead_group
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchiveTypeHead_group
                    query:
                      type: string
                      example: MaterialArchiveTypeHead_group
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: head.enableflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: head.enableflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/inv/sum/sum:
    post:
      tags:
        - 现存量
      summary: POST /pszxSaasServer/inv/sum/sum (pageSize)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_inv_sum_sum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1948952720723410948'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '1948952720723410948'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: '1948952720689856512'
                groupByFields:
                  type: string
                  example: 412ba3f2a77240d88d50f0fe6f267430,8c8172cbeb2f48e2b08a0e6c24e44222,c1e2ddf050244ce89df96dae0b23f683,2
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: IcInventorysumOrg
                    header:
                      type: string
                      example: IcInventorysum_org
                    query:
                      type: string
                      example: IcInventorysum_org
                    bill:
                      type: string
                      example: IcInventorysum_org
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventorysum_org
                        billType:
                          type: string
                          example: 现存量
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/drugProperty/drugPropertyCtrl/listByScheme:
    post:
      tags:
        - 现存量
      summary: POST /pszxSaasServer/drugProperty/drugPropertyCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_drugProperty_drugPropertyCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_DRUG_PROPERTY_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/supplier/supplierTypeCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/supplier/supplierTypeCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_supplier_supplierTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 20
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: SupplierType_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/producer/producerCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/producer/producerCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_producer_producerCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_PRODUCER_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/specification/specificationCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/specification/specificationCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_specification_specificationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_SPECIFICATION_group_ref
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/level/levelCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/level/levelCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_level_levelCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PSZX_LEVEL_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/area/areaCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/area/areaCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_area_areaCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: Area_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/drug/part/drugPartCtrl/listByScheme:
    post:
      tags:
        - 现存量
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/archive/drug/part/drugPartCtrl/listByScheme (page)
      description: 捕获自页面「现存量」
      operationId: post_pszxSaasServer_archive_drug_part_drugPartCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: DrugPart_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/agreed/inventory/agreedInventoryCtrl/listWithChildren:
    post:
      tags:
        - 协定方现存量
      summary: POST /pszxSaasServer/agreed/inventory/agreedInventoryCtrl/listWithChildren (pageSize)
      description: 捕获自页面「协定方现存量」
      operationId: post_pszxSaasServer_agreed_inventory_agreedInventoryCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 27e1d3abeb6a42a99ec766c4bd179239
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: head.pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 27e1d3abeb6a42a99ec766c4bd179239
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: head.pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 9d55548263b64cf29d3a933d39420866
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isOrg:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: AgreedInventoryBillOrg
                    header:
                      type: string
                      example: AgreedInventory_org
                    query:
                      type: string
                      example: AgreedInventory_org
                    bill:
                      type: string
                      example: AgreedInventory_org
                    bodyController:
                      type: string
                      example: /agreed/inventory/agreedInventoryDetailCtrl
                    controller:
                      type: string
                      example: /agreed/inventory/agreedInventoryBillCtrl
                    agreedInventoryDetail:
                      type: string
                      example: AgreedInventoryDetail_org
                    agreedInventoryFlow:
                      type: string
                      example: AgreedInventoryFlow_org
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: AgreedInventory_org
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: AgreedInventoryDetail_org
                            '1':
                              type: string
                              example: AgreedInventoryFlow_org
                        billType:
                          type: string
                          example: 协定方库存表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/agreed/inventory/agreedInventoryBillCtrl/getDetail:
    post:
      tags:
        - 协定方现存量
      summary: POST /pszxSaasServer/agreed/inventory/agreedInventoryBillCtrl/getDetail (id=2047223711168991232)
      description: 捕获自页面「协定方现存量」
      operationId: post_pszxSaasServer_agreed_inventory_agreedInventoryBillCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2047223711168991232'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: AgreedInventoryDetail_org
                    '1':
                      type: string
                      example: AgreedInventoryFlow_org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/businessType/businessTypeCtrl/listByScheme:
    post:
      tags:
        - 协定方现存量
        - 库存占用
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 预销售单
        - 余留单
        - 销售订单
        - 作业控制台
      summary: POST /pszxSaasServer/businessType/businessTypeCtrl/listByScheme (page)
      description: 捕获自页面「协定方现存量」
      operationId: post_pszxSaasServer_businessType_businessTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: businessType_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/inv/volumeWarn/sum:
    post:
      tags:
        - 库存预警
      summary: POST /pszxSaasServer/inv/volumeWarn/sum (pageSize)
      description: 捕获自页面「库存预警」
      operationId: post_pszxSaasServer_inv_volumeWarn_sum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2000397195114582020'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '2000397195114582020'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: '2000397195068444672'
                groupByFields:
                  type: string
                  example: 32857d347d054360813c4ad8cf7dbb04,272794ea14844a088d85994e0f70f75a,23c27d498b8246ae8eb8d0704a7f0b2d,2
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: VolumeWaring
                    header:
                      type: string
                      example: IcInventory_volume_warning2
                    query:
                      type: string
                      example: IcInventory_volume_warning2
                    bill:
                      type: string
                      example: IcInventory_volume_warning
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventory_volume_warning
                        billType:
                          type: string
                          example: 库存预警
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/inventoryStatusCtrl/listByScheme:
    post:
      tags:
        - 效期预警
        - 库存明细
      summary: POST /pszxSaasServer/archive/inventoryStatusCtrl/listByScheme (functionCode=InventoryStatus_global)
      description: 捕获自页面「效期预警」
      operationId: post_pszxSaasServer_archive_inventoryStatusCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: InventoryStatus_global
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: InventoryStatus_global
                    query:
                      type: string
                      example: InventoryStatus_global
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: deleteflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: deleteflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/inv/validityWarn/sum:
    post:
      tags:
        - 效期预警
      summary: POST /pszxSaasServer/inv/validityWarn/sum (pageSize)
      description: 捕获自页面「效期预警」
      operationId: post_pszxSaasServer_inv_validityWarn_sum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1948919391768936452'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '1948919391768936452'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: '1948919391752159232'
                groupByFields:
                  type: string
                  example: b2267f4a47bb4e10ad9833681fea20f3,719d1de2591140ffbc156297c9b78a4b,b6c1d49d0896485ebf6b65139adad353,a
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: ValidityWarning
                    header:
                      type: string
                      example: IcInventory_validity_warning
                    query:
                      type: string
                      example: IcInventory_validity_warning
                    bill:
                      type: string
                      example: IcInventory_validity_warning
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventory_validity_warning
                        billType:
                          type: string
                          example: 效期预警
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/inv/icInventoryFlownumCtrl/listByScheme:
    post:
      tags:
        - 库存出入库流水
      summary: POST /pszxSaasServer/ic/basic/inv/icInventoryFlownumCtrl/listByScheme (pageSize)
      description: 捕获自页面「库存出入库流水」
      operationId: post_pszxSaasServer_ic_basic_inv_icInventoryFlownumCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9d57ca53ac3a483e93d7e9b08c1c616c
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 9d57ca53ac3a483e93d7e9b08c1c616c
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: d50637219fc849de9e899fcdb1291cf5
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: IcInventoryFlownumOrg
                    header:
                      type: string
                      example: IcInventoryFlownum_org
                    query:
                      type: string
                      example: IcInventoryFlownum_org
                    bill:
                      type: string
                      example: IcInventoryFlownum_org
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryFlownumCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventoryFlownum_org
                        billType:
                          type: string
                          example: 库存出入库流水
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/materialArchiveHeadCtrl/listByScheme:
    post:
      tags:
        - 库存出入库流水
        - 库存明细
        - NC余留库存管理
      summary: POST /pszxSaasServer/archive/mat/materialArchiveHeadCtrl/listByScheme (page)
      description: 捕获自页面「库存出入库流水」
      operationId: post_pszxSaasServer_archive_mat_materialArchiveHeadCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchive_group
                    query:
                      type: string
                      example: MaterialArchive_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: deleteflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: deleteflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren:
    post:
      tags:
        - 库存出入库流水
        - 库存占用
        - 库存明细
        - 销售订单
      summary: POST /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren (page)
      description: 捕获自页面「库存出入库流水」
      operationId: post_pszxSaasServer_hospital_hospitalArchiveCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 20
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalArchive_group
                    query:
                      type: string
                      example: HospitalArchive_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/agreedArchive/agreedArchiveCtrl/listWithChildren:
    post:
      tags:
        - 库存出入库流水
        - 库存占用
        - 库存明细
      summary: POST /pszxSaasServer/agreedArchive/agreedArchiveCtrl/listWithChildren (page)
      description: 捕获自页面「库存出入库流水」
      operationId: post_pszxSaasServer_agreedArchive_agreedArchiveCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: head.id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: head.id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/inv/icInventoryAvailableCtrl/listByScheme:
    post:
      tags:
        - 库存占用
      summary: POST /pszxSaasServer/ic/basic/inv/icInventoryAvailableCtrl/listByScheme (pageSize)
      description: 捕获自页面「库存占用」
      operationId: post_pszxSaasServer_ic_basic_inv_icInventoryAvailableCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c2f6c8409b4949c5bbbe81fd7a7f1129
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: c2f6c8409b4949c5bbbe81fd7a7f1129
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 6b37ae6812e4451ebd39b8e1ea5175cd
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: IcInventoryAvailableOrg
                    header:
                      type: string
                      example: IcInventoryAvailable_org
                    query:
                      type: string
                      example: IcInventoryAvailable_org
                    bill:
                      type: string
                      example: IcInventoryAvailable_org
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryAvailableCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventoryAvailable_org
                        billType:
                          type: string
                          example: 库存占用
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/basic/inv/icInventoryCtrl/listByScheme:
    post:
      tags:
        - 库存明细
      summary: POST /pszxSaasServer/ic/basic/inv/icInventoryCtrl/listByScheme (pageSize)
      description: 捕获自页面「库存明细」
      operationId: post_pszxSaasServer_ic_basic_inv_icInventoryCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 038fd11b334845e39f7e11faf72d8bb5
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 038fd11b334845e39f7e11faf72d8bb5
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 528f0173b4d8445dae58107b6ea6485d
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: IcInventoryOrg
                    header:
                      type: string
                      example: IcInventory_org
                    query:
                      type: string
                      example: IcInventory_org
                    bill:
                      type: string
                      example: IcInventory_org
                    controller:
                      type: string
                      example: /ic/basic/inv/icInventoryCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventory_org
                        billType:
                          type: string
                          example: 库存明细
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszx/inv/icInventoryNcCtrl/listByScheme:
    post:
      tags:
        - 库存明细NC相关
      summary: POST /pszxSaasServer/pszx/inv/icInventoryNcCtrl/listByScheme (pageSize)
      description: 捕获自页面「库存明细NC相关」
      operationId: post_pszxSaasServer_pszx_inv_icInventoryNcCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 80bb685bd0954a0c9b5188a898642ef0
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 80bb685bd0954a0c9b5188a898642ef0
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 36b647962a0f42fe9f95511d89fa8856
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: IcInventoryNcOrg
                    header:
                      type: string
                      example: IcInventoryNc_org
                    query:
                      type: string
                      example: IcInventoryNc_org
                    bill:
                      type: string
                      example: IcInventoryNc_org
                    controller:
                      type: string
                      example: /pszx/inv/icInventoryNcCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: IcInventoryNc_org
                        billType:
                          type: string
                          example: 库存明细NC相关
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme:
    post:
      tags:
        - 借药报表
        - 重复检测索引
        - 医院认证配置
        - 请求日志
        - 报文处理记录
        - 医院外系统接口映射档案
        - 处方性质煎煮时间
        - 处方单转换规则-配送中心
        - 原处方单
        - 原处方单模板
        - 销售发票
        - 损耗单
        - 预销售单
        - 余留单
        - 作业控制台
      summary: POST /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme (page)
      description: 捕获自页面「借药报表」
      operationId: post_pszxSaasServer_hospital_hospitalDistributeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalDistribute_org_source
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: hospitalFullName
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: hospitalFullName
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/br/brOrderReportCtrl/listWithChildren:
    post:
      tags:
        - 借药报表
      summary: POST /pszxSaasServer/ic/br/brOrderReportCtrl/listWithChildren (pageSize)
      description: 捕获自页面「借药报表」
      operationId: post_pszxSaasServer_ic_br_brOrderReportCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1966398460324478976'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: boh.pk_org
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '1966398460324478976'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: boh.pk_org
                      operation: in
                templateId:
                  type: string
                  example: '1966390599183761408'
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isOrg:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: BrOrderReportOrg
                    header:
                      type: string
                      example: BrOrderHeadReport
                    query:
                      type: string
                      example: BrOrderHeadReport
                    bill:
                      type: string
                      example: BrOrderReport
                    bodyController:
                      type: string
                      example: /ic/br/brOrderReportCtrl/listWithChildren
                    controller:
                      type: string
                      example: /ic/br/brOrderReportCtrl
                    BrOrderBodyReport:
                      type: string
                      example: BrOrderBodyReport
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: BrOrderBodyReport
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: BrOrderBodyReport
                        billType:
                          type: string
                          example: 入库单
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/br/brOrderReportCtrl/getDetail:
    post:
      tags:
        - 借药报表
      summary: POST /pszxSaasServer/ic/br/brOrderReportCtrl/getDetail (id=00013A1000000000VGSD@1978334564828581888)
      description: 捕获自页面「借药报表」
      operationId: post_pszxSaasServer_ic_br_brOrderReportCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 00013A1000000000VGSD@1978334564828581888
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: BrOrderBodyReport
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: pkOrg
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      operation:
                        type: string
                        example: in
                  example:
                    - id: pkOrg
                      value:
                        - 00013A1000000000VGSD
                      operation: in
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1966398460324478976'
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: boh.pk_org
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '1966398460324478976'
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: boh.pk_org
                      operation: in
                templateId:
                  type: string
                  example: '1966390599183761408'
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isOrg:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: BrOrderReportOrg
                    header:
                      type: string
                      example: BrOrderHeadReport
                    query:
                      type: string
                      example: BrOrderHeadReport
                    bill:
                      type: string
                      example: BrOrderReport
                    bodyController:
                      type: string
                      example: /ic/br/brOrderReportCtrl/listWithChildren
                    controller:
                      type: string
                      example: /ic/br/brOrderReportCtrl
                    BrOrderBodyReport:
                      type: string
                      example: BrOrderBodyReport
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: BrOrderBodyReport
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: BrOrderBodyReport
                        billType:
                          type: string
                          example: 入库单
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/ic/syncLogCtrl/listByScheme:
    post:
      tags:
        - 推单日志
      summary: POST /pszxSaasServer/ic/syncLogCtrl/listByScheme (pageSize)
      description: 捕获自页面「推单日志」
      operationId: post_pszxSaasServer_ic_syncLogCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 5195ffff7cd042fbafae75f0d931d985
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 5195ffff7cd042fbafae75f0d931d985
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 112f3e808aa8466db93785fa46153aaa
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: SyncLogOrg
                    header:
                      type: string
                      example: SyncLog_org
                    query:
                      type: string
                      example: SyncLog_org
                    bill:
                      type: string
                      example: SyncLog_org
                    controller:
                      type: string
                      example: /ic/syncLogCtrl
                    importProperty:
[...]
