openapi: 3.0.3
info:
  title: 配送中心 SAAS 接口文档
  version: 2026-06-09-auto
  description: |-
    由 apifox-sync 自动捕获生成
    捕获时间: 2026-06-09T05:55:38.381Z
    共 105 个页面, 177 个接口
servers:
  - url: https://tcm-dc-sit.zgzykg.com.cn
    description: 配送中心 SAAS 生产环境
tags:
  - name: NC物料映射
    description: 基础数据 > 物料信息 > NC物料映射
  - name: 业务参数-全局
    description: 基础数据 > 组织管理 > 业务参数-全局
  - name: 业务参数-配送中心
    description: 基础数据 > 组织管理 > 业务参数-配送中心
  - name: 业务类型-公司
    description: 基础数据 > 组织管理 > 业务类型-公司
  - name: 产地-公司
    description: 基础数据 > 物料信息 > 产地-公司
  - name: 人员-组织
    description: 基础数据 > 组织管理 > 人员-组织
  - name: 仓库
    description: 基础数据 > 物料信息 > 仓库
  - name: 任务执行监控-全局
    description: 系统调度平台 > 任务执行监控-全局
  - name: 元数据属性
    description: 系统配置 > 元数据 > 元数据属性
  - name: 公司-全局
    description: 常用 > 公司-全局
  - name: 列模板
    description: 系统配置 > 模板管理 > 列模板
  - name: 包装规格-公司
    description: 基础数据 > 物料信息 > 包装规格-公司
  - name: 协定方档案-公司
    description: 基础数据 > 物料信息 > 协定方档案-公司
  - name: 参数模板设置-全局
    description: 基础数据 > 组织管理 > 参数模板设置-全局
  - name: 字典管理
    description: 系统调度平台 > 字典管理
  - name: 定时任务配置-全局
    description: 系统调度平台 > 定时任务配置-全局
  - name: 库存状态-全局
    description: 基础数据 > 物料信息 > 库存状态-全局
  - name: 异常原因档案
    description: 基础数据 > 异常原因档案
  - name: 微信号管理-全局
    description: 系统配置 > 弹性配置 > 微信号管理-全局
  - name: 批号-公司
    description: 基础数据 > 物料信息 > 批号-公司
  - name: 批次号-公司
    description: 基础数据 > 物料信息 > 批次号-公司
  - name: 操作审计日志
    description: 系统配置 > 日志 > 操作审计日志
  - name: 物料档案-公司
    description: 基础数据 > 物料信息 > 物料档案-公司
  - name: 物料用量限制
    description: 基础数据 > 物料信息 > 物料用量限制
  - name: 物料申请单
    description: 基础数据 > 物料信息 > 物料申请单
  - name: 生产厂家-公司
    description: 基础数据 > 物料信息 > 生产厂家-公司
  - name: 等级-公司
    description: 基础数据 > 物料信息 > 等级-公司
  - name: 脚本设置-公司
    description: 系统配置 > 弹性配置 > 脚本设置-公司
  - name: 药用部位-公司
    description: 基础数据 > 物料信息 > 药用部位-公司
  - name: 表单模板
    description: 系统配置 > 模板管理 > 表单模板
  - name: 货位
    description: 基础数据 > 物料信息 > 货位
  - name: 配伍禁忌-公司
    description: 基础数据 > 物料信息 > 配伍禁忌-公司
  - name: 项目初始化清单
    description: 系统配置 > 日志 > 项目初始化清单
  - name: 项目初始化清单日志
    description: 系统配置 > 日志 > 项目初始化清单日志
  - name: 事务管理-全局
    description: 基础数据 > 作业中心配置 > 事务管理-全局
  - name: 价格变更单-公司
    description: 基础数据 > 结算管理 > 价格变更单-公司
  - name: 价格变更单-配送中心
    description: 基础数据 > 结算管理 > 价格变更单-配送中心
  - name: 价格维护单-公司
    description: 基础数据 > 结算管理 > 价格维护单-公司
  - name: 价目表-公司
    description: 基础数据 > 结算管理 > 价目表-公司
  - name: 作业流程
    description: 基础数据 > 作业中心配置 > 作业流程
  - name: 作业环节-公司
    description: 基础数据 > 作业中心配置 > 作业环节-公司
  - name: 供应商-公司
    description: 基础数据 > 供应商信息 > 供应商-公司
  - name: 供应商申请表
    description: 基础数据 > 供应商信息 > 供应商申请表
  - name: 借药还药单
    description: 库存管理 > 借药还药单
  - name: 入库单
    description: 库存管理 > 入库单
  - name: 出库单
    description: 库存管理 > 出库单
  - name: 到货单
    description: 库存管理 > 到货单
  - name: 医疗机构档案-公司
    description: 基础数据 > 医疗机构信息 > 医疗机构档案-公司
  - name: 医疗机构申请表
    description: 基础数据 > 医疗机构信息 > 医疗机构申请表
  - name: 医院回传记录
    description: 基础数据 > 医疗机构信息 > 医院回传记录
  - name: 单据类型-全局
    description: 基础数据 > 作业信息 > 单据类型-全局
  - name: 单据类型-公司
    description: 基础数据 > 作业信息 > 单据类型-公司
  - name: 处方时效
    description: 基础数据 > 配送管理 > 处方时效
  - name: 打印日志
    description: 基础数据 > 打印管理 > 打印日志
  - name: 打印机
    description: 基础数据 > 打印管理 > 打印机
  - name: 打印模板
    description: 基础数据 > 打印管理 > 打印模板
  - name: 打印模板关联
    description: 基础数据 > 打印管理 > 打印模板关联
  - name: 打印设计
    description: 基础数据 > 打印管理 > 打印设计
  - name: 报错原处方单物料映射
    description: 基础数据 > 医疗机构信息 > 报错原处方单物料映射
  - name: 机器档案
    description: 基础数据 > 机器管理 > 机器档案
  - name: 浸泡桶管理
    description: 基础数据 > 机器管理 > 浸泡桶管理
  - name: 物料关系映射
    description: 基础数据 > 医疗机构信息 > 物料关系映射
  - name: 用户协议管理-公司
    description: 患者后台管理 > 用户协议管理-公司
  - name: 用户管理-公司
    description: 患者后台管理 > 用户管理-公司
  - name: 转库单
    description: 库存管理 > 转库单
  - name: 配送公司-全局
    description: 基础数据 > 配送管理 > 配送公司-全局
  - name: 配送地址
    description: 基础数据 > 配送管理 > 配送地址
  - name: 配送服务
    description: 基础数据 > 配送管理 > 配送服务
  - name: 配送清单
    description: 基础数据 > 配送管理 > 配送清单
  - name: 配送规则
    description: 基础数据 > 配送管理 > 配送规则
  - name: 默认调剂货位
    description: 基础数据 > 物料信息 > 默认调剂货位
  - name: dataease报表测试
    description: 数据报表 > dataease报表测试
  - name: NC仓库
    description: 财务结算 > NC仓库
  - name: NC余留库存管理
    description: 财务结算 > NC余留库存管理
  - name: 余留单
    description: 财务结算 > 余留单
  - name: 作业控制台
    description: 作业控制台
  - name: 借药报表
    description: 库存管理 > 借药报表
  - name: 医院外系统接口映射档案
    description: 订单管理 > 医院外系统接口映射档案
  - name: 医院外系统接口档案
    description: 订单管理 > 医院外系统接口档案
  - name: 医院认证配置
    description: 订单管理 > 医院认证配置
  - name: 协定方现存量
    description: 库存管理 > 协定方现存量
  - name: 原处方单模板
    description: 处方受理 > 原处方单模板
  - name: 处方单转换规则-全局
    description: 处方受理 > 处方单转换规则-全局
  - name: 处方性质煎煮时间
    description: 处方受理 > 处方性质煎煮时间
  - name: 处方看板
    description: 处方受理 > 处方看板
  - name: 库存出入库流水
    description: 库存管理 > 库存出入库流水
  - name: 库存占用
    description: 库存管理 > 库存占用
  - name: 库存明细
    description: 库存管理 > 库存明细
  - name: 库存明细NC相关
    description: 库存管理 > 库存明细NC相关
  - name: 库存预警
    description: 库存管理 > 库存预警
  - name: 报文处理记录
    description: 订单管理 > 报文处理记录
  - name: 损耗单
    description: 财务结算 > 损耗单
  - name: 接口字段配置-全局
    description: 订单管理 > 接口字段配置-全局
  - name: 推单日志
    description: 库存管理 > 推单日志
  - name: 效期预警
    description: 库存管理 > 效期预警
  - name: 数据源管理
    description: 数据源管理
  - name: 现存量
    description: 库存管理 > 现存量
  - name: 盘点单
    description: 库存管理 > 盘点单
  - name: 空间消杀记录
    description: 空间消杀记录
  - name: 请求日志
    description: 订单管理 > 请求日志
  - name: 重复检测索引
    description: 订单管理 > 重复检测索引
  - name: 销售发票
    description: 财务结算 > 销售发票
  - name: 销售结算单
    description: 财务结算 > 销售结算单
  - name: 销售订单
    description: 财务结算 > 销售订单
  - name: 预销售单
    description: 财务结算 > 预销售单
paths:
  /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser:
    get:
      tags:
        - NC物料映射
      summary: GET /pszxSaasServer/templates/query/queryTemplateCtrl/getQueryTemplateByCurrentUser
      description: 捕获自页面「NC物料映射」
      operationId: get_pszxSaasServer_templates_query_queryTemplateCtrl_getQueryTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser:
    get:
      tags:
        - NC物料映射
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getShowColumnTemplateByCurrentUser
      description: 捕获自页面「NC物料映射」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getShowColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup:
    get:
      tags:
        - NC物料映射
      summary: GET /pszxSaasServer/basic/org/orgParamsCtrl/getParamsWithGroup
      description: 捕获自页面「NC物料映射」
      operationId: get_pszxSaasServer_basic_org_orgParamsCtrl_getParamsWithGroup
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: pkGroup
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel:
    get:
      tags:
        - NC物料映射
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItemLabel
      description: 捕获自页面「NC物料映射」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItemLabel
      parameters:
        - name: value
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme:
    post:
      tags:
        - NC物料映射
      summary: POST /pszxSaasServer/templates/query/personalTemplateCtrl/personalTemplateCtrl/listByScheme (page)
      description: 捕获自页面「NC物料映射」
      operationId: post_pszxSaasServer_templates_query_personalTemplateCtrl_personalTemplateCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: sort
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: userId
                      value:
                        type: array
                        items:
                          type: number
                          example: 20019
                        example:
                          - 20019
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: userId
                      value:
                        - 20019
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgGroupCtrl/getGroupTree:
    post:
      tags:
        - NC物料映射
      summary: POST /pszxSaasServer/org/orgGroupCtrl/getGroupTree (functionCode=OrgGroup)
      description: 捕获自页面「NC物料映射」
      operationId: post_pszxSaasServer_org_orgGroupCtrl_getGroupTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: OrgGroup
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: string
                          example: ${user.pkGroupList}
                        example:
                          - ${user.pkGroupList}
                      operation:
                        type: string
                        example: in
                  example:
                    - field: id
                      value:
                        - ${user.pkGroupList}
                      operation: in
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/nc/ncMaterialRelationCtrl/listByScheme:
    post:
      tags:
        - NC物料映射
      summary: POST /pszxSaasServer/archive/nc/ncMaterialRelationCtrl/listByScheme (pageSize)
      description: 捕获自页面「NC物料映射」
      operationId: post_pszxSaasServer_archive_nc_ncMaterialRelationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 0ad1a78b133d4a438ac7557e41c4d3a2
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 0ad1a78b133d4a438ac7557e41c4d3a2
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 5b13a8a2b6584175879de827c1b5ef99
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: NcMaterialRelationGroup
                    header:
                      type: string
                      example: NcMaterialRelation_group
                    query:
                      type: string
                      example: NcMaterialRelation_group
                    bill:
                      type: string
                      example: NcMaterialRelation_group
                    controller:
                      type: string
                      example: /archive/nc/ncMaterialRelationCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: NcMaterialRelation_group
                        billType:
                          type: string
                          example: NC物料映射表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems:
    get:
      tags:
        - 业务参数-全局
      summary: GET /pszxSaasServer/sysmp/sysDictionaryItemCtrl/getDictionaryItems
      description: 捕获自页面「业务参数-全局」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryItemCtrl_getDictionaryItems
      parameters:
        - name: dictionaryCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/basic/org/orgParamsCtrl/listByScheme:
    post:
      tags:
        - 业务参数-全局
      summary: POST /pszxSaasServer/basic/org/orgParamsCtrl/listByScheme (pageSize)
      description: 捕获自页面「业务参数-全局」
      operationId: post_pszxSaasServer_basic_org_orgParamsCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1941370228323647494'
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: code
                      operation:
                        type: string
                        example: like
                  example:
                    - id: '1941370228323647494'
                      value:
                        - null
                      field: code
                      operation: like
                templateId:
                  type: string
                  example: '1941370228315258880'
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    auth:
                      type: string
                      example: OrgParamsGlobal
                    header:
                      type: string
                      example: OrgParams_global
                    query:
                      type: string
                      example: OrgParams_global
                    bill:
                      type: string
                      example: OrgParams_global
                    controller:
                      type: string
                      example: /basic/org/orgParamsCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: OrgParams_global
                        billType:
                          type: string
                          example: 业务参数表
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/getOrgTree:
    post:
      tags:
        - 业务参数-配送中心
      summary: POST /pszxSaasServer/org/orgOrgCtrl/getOrgTree (functionCodeObj)
      description: 捕获自页面「业务参数-配送中心」
      operationId: post_pszxSaasServer_org_orgOrgCtrl_getOrgTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    query:
                      type: string
                      example: OrgOrg_org
                page:
                  type: boolean
                  example: false
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: string
                          example: ${user.belongOrgList}
                        example:
                          - ${user.belongOrgList}
                      operation:
                        type: string
                        example: in
                  example:
                    - field: id
                      value:
                        - ${user.belongOrgList}
                      operation: in
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/businessType/businessTypeCtrl/listByScheme:
    post:
      tags:
        - 业务类型-公司
      summary: POST /pszxSaasServer/businessType/businessTypeCtrl/listByScheme (pageSize)
      description: 捕获自页面「业务类型-公司」
      operationId: post_pszxSaasServer_businessType_businessTypeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 82ac821bda2743feb54f6bbe11068eb8
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 82ac821bda2743feb54f6bbe11068eb8
                      value: []
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 24c12a351996495f97585b70ac6ee314
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: businessTypeGroup
                    header:
                      type: string
                      example: businessType_group
                    query:
                      type: string
                      example: businessType_group
                    bill:
                      type: string
                      example: businessType_group
                    controller:
                      type: string
                      example: /businessType/businessTypeCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: businessType_group
                        billType:
                          type: string
                          example: 业务类型表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/area/areaCtrl/listByScheme:
    post:
      tags:
        - 产地-公司
      summary: POST /pszxSaasServer/area/areaCtrl/listByScheme (pageSize)
      description: 捕获自页面「产地-公司」
      operationId: post_pszxSaasServer_area_areaCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 70bc1ac10a824c5da0b73c3f3c83d4c8
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 70bc1ac10a824c5da0b73c3f3c83d4c8
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 616b15aa7461476a8bbb0de923d6f921
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: AreaGroup
                    header:
                      type: string
                      example: Area_group
                    query:
                      type: string
                      example: Area_group
                    bill:
                      type: string
                      example: Area_group
                    controller:
                      type: string
                      example: /area/areaCtrl
                    addNewParams:
                      type: object
                      properties: {}
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: Area_group
                        billType:
                          type: string
                          example: 产地表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgOrgCtrl/getCurrentOrg:
    get:
      tags:
        - 人员-组织
      summary: GET /pszxSaasServer/org/orgOrgCtrl/getCurrentOrg
      description: 捕获自页面「人员-组织」
      operationId: get_pszxSaasServer_org_orgOrgCtrl_getCurrentOrg
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszxDept/deptCtrl/listTree:
    post:
      tags:
        - 人员-组织
      summary: POST /pszxSaasServer/pszxDept/deptCtrl/listTree (queryConditions[2])
      description: 捕获自页面「人员-组织」
      operationId: post_pszxSaasServer_pszxDept_deptCtrl_listTree
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: deleteflag
                      operation:
                        type: string
                        example: eq
                      value:
                        type: array
                        items:
                          type: string
                          example: '0'
                        example:
                          - '0'
                  example:
                    - field: deleteflag
                      operation: eq
                      value:
                        - '0'
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszxStaff/staffCtrl/listByScheme:
    post:
      tags:
        - 人员-组织
      summary: POST /pszxSaasServer/pszxStaff/staffCtrl/listByScheme (pageSize)
      description: 捕获自页面「人员-组织」
      operationId: post_pszxSaasServer_pszxStaff_staffCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 3a2f115a7da84cdcbdd2c6e22a17c77c
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 3a2f115a7da84cdcbdd2c6e22a17c77c
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: e1455ea1b743461e9645f3b72431a5a8
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PszxStaffOrg
                    header:
                      type: string
                      example: pszxStaff_org
                    query:
                      type: string
                      example: pszxStaff_org
                    bill:
                      type: string
                      example: pszxStaff_org
                    controller:
                      type: string
                      example: /pszxStaff/staffCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: pszxStaff_org
                        billType:
                          type: string
                          example: 人员
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/gyg/basic/sysmp/sysUserVOCtrl/listByScheme:
    post:
      tags:
        - 人员-组织
      summary: POST /pszxSaasServer/gyg/basic/sysmp/sysUserVOCtrl/listByScheme (page)
      description: 捕获自页面「人员-组织」
      operationId: post_pszxSaasServer_gyg_basic_sysmp_sysUserVOCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: true
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: id
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: id
                      value:
                        - null
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme:
    post:
      tags:
        - 仓库
      summary: POST /pszxSaasServer/hospital/hospitalDistributeCtrl/listByScheme (page)
      description: 捕获自页面「仓库」
      operationId: post_pszxSaasServer_hospital_hospitalDistributeCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalDistribute_org_source
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: hospitalFullName
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: hospitalFullName
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/warehouse/warehouseCtrl/listByScheme:
    post:
      tags:
        - 仓库
      summary: POST /pszxSaasServer/warehouse/warehouseCtrl/listByScheme (pageSize)
      description: 捕获自页面「仓库」
      operationId: post_pszxSaasServer_warehouse_warehouseCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 165e316a6e1a4bebb23e7070d103bdef
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 165e316a6e1a4bebb23e7070d103bdef
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: e083cad9bee2454ea817e5a565857ff1
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PszxWarehouseOrg
                    header:
                      type: string
                      example: PSZX_WAREHOUSE_org
                    query:
                      type: string
                      example: PSZX_WAREHOUSE_org
                    bill:
                      type: string
                      example: PSZX_WAREHOUSE_org
                    controller:
                      type: string
                      example: /warehouse/warehouseCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: PSZX_WAREHOUSE_org
                        billType:
                          type: string
                          example: 仓库表
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/quartzTaskExecLogCtrl/list:
    get:
      tags:
        - 任务执行监控-全局
      summary: GET /pszxSaasServer/sysmp/quartzTaskExecLogCtrl/list
      description: 捕获自页面「任务执行监控-全局」
      operationId: get_pszxSaasServer_sysmp_quartzTaskExecLogCtrl_list
      parameters:
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
        - name: sortName
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/meta/metaPropertyCtrl/listByScheme:
    post:
      tags:
        - 元数据属性
      summary: POST /pszxSaasServer/meta/metaPropertyCtrl/listByScheme (pageSize)
      description: 捕获自页面「元数据属性」
      operationId: post_pszxSaasServer_meta_metaPropertyCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 4574d04ad7dc4b1ca144cb78b2bfdddc
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: tableName
                      operation:
                        type: string
                        example: like
                  example:
                    - id: 4574d04ad7dc4b1ca144cb78b2bfdddc
                      value:
                        - null
                      field: tableName
                      operation: like
                templateId:
                  type: string
                  example: 77ca788ed7994b31a28252b3e3e82d30
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: MetaProperty
                    header:
                      type: string
                      example: MetaProperty_global
                    query:
                      type: string
                      example: MetaProperty_global
                    bill:
                      type: string
                      example: MetaProperty_global
                    controller:
                      type: string
                      example: /meta/metaPropertyCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: MetaProperty_global
                        billType:
                          type: string
                          example: 元数据属性
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszxOrgGroup/pszxOrgGroupCtrl/listByScheme:
    post:
      tags:
        - 公司-全局
      summary: POST /pszxSaasServer/pszxOrgGroup/pszxOrgGroupCtrl/listByScheme (pageSize)
      description: 捕获自页面「公司-全局」
      operationId: post_pszxSaasServer_pszxOrgGroup_pszxOrgGroupCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1943516339784122368'
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: code
                      operation:
                        type: string
                        example: like
                  example:
                    - id: '1943516339784122368'
                      value:
                        - null
                      field: code
                      operation: like
                templateId:
                  type: string
                  example: d92b4d2bf9c5452db7b18a75f8e47ddd
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: pszxOrgGroupGlobal
                    header:
                      type: string
                      example: pszxOrgGroup_global
                    query:
                      type: string
                      example: pszxOrgGroup_global
                    bill:
                      type: string
                      example: pszxOrgGroup_global
                    controller:
                      type: string
                      example: /pszxOrgGroup/pszxOrgGroupCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: pszxOrgGroup_global
                        billType:
                          type: string
                          example: 公司表
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/aliOss/downloadFile/1e056d2b0ebd5c878c550da6ac5d3724:
    get:
      tags:
        - 公司-全局
      summary: GET /pszxSaasServer/aliOss/downloadFile/1e056d2b0ebd5c878c550da6ac5d3724
      description: 捕获自页面「公司-全局」
      operationId: get_pszxSaasServer_aliOss_downloadFile_1e056d2b0ebd5c878c550da6ac5d3724
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateHeadCtrl/listWithChildren:
    post:
      tags:
        - 列模板
      summary: POST /pszxSaasServer/templates/column/columnTemplateHeadCtrl/listWithChildren (pageSize)
      description: 捕获自页面「列模板」
      operationId: post_pszxSaasServer_templates_column_columnTemplateHeadCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1638426612599095296'
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: head.funcCode
                      operation:
                        type: string
                        example: eq
                  example:
                    - id: '1638426612599095296'
                      value:
                        - null
                      field: head.funcCode
                      operation: eq
                templateId:
                  type: string
                  example: 50c65bf9-f19d-488a-b9ed-6677a4f247b2
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/specification/specificationCtrl/listByScheme:
    post:
      tags:
        - 包装规格-公司
      summary: POST /pszxSaasServer/specification/specificationCtrl/listByScheme (pageSize)
      description: 捕获自页面「包装规格-公司」
      operationId: post_pszxSaasServer_specification_specificationCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: e5ecc4da74c346249c0b2d73f584bf69
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: e5ecc4da74c346249c0b2d73f584bf69
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 78013a7ec01b4a34bbbb576a0b8294ea
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: specificationGroup
                    header:
                      type: string
                      example: PSZX_SPECIFICATION_group
                    query:
                      type: string
                      example: PSZX_SPECIFICATION_group
                    bill:
                      type: string
                      example: PSZX_SPECIFICATION_group
                    controller:
                      type: string
                      example: /specification/specificationCtrl
                    addNewParams:
                      type: object
                      properties: {}
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: PSZX_SPECIFICATION_group
                        billType:
                          type: string
                          example: 包装规格表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser:
    get:
      tags:
        - 协定方档案-公司
      summary: GET /pszxSaasServer/templates/bill/billTemplateCtrl/getBillTemplateByCurrentUser
      description: 捕获自页面「协定方档案-公司」
      operationId: get_pszxSaasServer_templates_bill_billTemplateCtrl_getBillTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
        - name: orgLevel
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser:
    get:
      tags:
        - 协定方档案-公司
      summary: GET /pszxSaasServer/templates/column/columnTemplateCtrl/getEditColumnTemplateByCurrentUser
      description: 捕获自页面「协定方档案-公司」
      operationId: get_pszxSaasServer_templates_column_columnTemplateCtrl_getEditColumnTemplateByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/pszxOrgOrg/pszxOrgOrgCtrl/listByScheme:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/pszxOrgOrg/pszxOrgOrgCtrl/listByScheme (functionCode=pszxOrgOrg_group)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_pszxOrgOrg_pszxOrgOrgCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: pszxOrgOrg_group
                functionCodeObj:
                  type: object
                  properties:
                    auth:
                      type: string
                      example: PszxOrgOrgGroup
                    bill:
                      type: string
                      example: pszxOrgOrg_group
                    controller:
                      type: string
                      example: /pszxOrgOrg/pszxOrgOrgCtrl
                    header:
                      type: string
                      example: pszxOrgOrg_group
                    isGroup:
                      type: boolean
                      example: true
                    query:
                      type: string
                      example: pszxOrgOrg_group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser:
    get:
      tags:
        - 协定方档案-公司
      summary: GET /pszxSaasServer/templates/rule/billTemplateRuleCtrl/getFormTemplateRulesByCurrentUser
      description: 捕获自页面「协定方档案-公司」
      operationId: get_pszxSaasServer_templates_rule_billTemplateRuleCtrl_getFormTemplateRulesByCurrentUser
      parameters:
        - name: functionCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/hospital/hospitalArchiveCtrl/listWithChildren (page)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_hospital_hospitalArchiveCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: HospitalArchive_group
                    query:
                      type: string
                      example: HospitalArchive_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: head.code,head.fullName
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: head.code,head.fullName
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/agreedArchive/agreedArchiveCtrl/listWithChildren:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/agreedArchive/agreedArchiveCtrl/listWithChildren (pageSize)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_agreedArchive_agreedArchiveCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1976539315647414274'
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: head.pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: '1976539315647414274'
                      value:
                        - '1787720377238028288'
                        - global
                      field: head.pkGroup
                      operation: in
                templateId:
                  type: string
                  example: '1976539315588694016'
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isGroup:
                      type: boolean
                      example: true
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: agreedArchiveBillGroup
                    header:
                      type: string
                      example: agreedArchive_group
                    query:
                      type: string
                      example: agreedArchive_group
                    bill:
                      type: string
                      example: agreedArchive_group
                    bodyController:
                      type: string
                      example: /agreedArchive/agreedArchiveBodyCtrl
                    controller:
                      type: string
                      example: /agreedArchive/agreedArchiveBillCtrl
                    agreedArchiveBody:
                      type: string
                      example: agreedArchiveBody_group
                    agreedDistributeBody:
                      type: string
                      example: AgreedDistribute_group
                    prescriptionBody:
                      type: string
                      example: agreedArchiveBody_group
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: agreedArchive_group
                        billType:
                          type: string
                          example: 协定方档案表
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: agreedArchiveBody_group
                            '1':
                              type: string
                              example: AgreedDistribute_group
                        orgLevel:
                          type: string
                          example: group
                    batchImportProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: agreedArchive_group
                        billType:
                          type: string
                          example: 协定方档案表
                        indexFunctionCodeMap:
                          type: object
                          properties:
                            '0':
                              type: string
                              example: agreedArchiveBody_group
                            '1':
                              type: string
                              example: AgreedDistribute_group
                        orgLevel:
                          type: string
                          example: group
                        excludeFields:
                          type: array
                          items:
                            type: string
                            example: pkOrg
                          example:
                            - pkOrg
                        excludeItemFields:
                          type: object
                          properties:
                            '0':
                              type: array
                              items:
                                type: string
                                example: pkOrg
                              example:
                                - pkOrg
                            '1':
                              type: array
                              items:
                                type: string
                                example: pkOrg
                              example:
                                - pkOrg
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/agreedArchive/agreedArchiveBillCtrl/getDetail:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/agreedArchive/agreedArchiveBillCtrl/getDetail (id=2059482092671864832)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_agreedArchive_agreedArchiveBillCtrl_getDetail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '2059482092671864832'
                indexFunctionCodeMap:
                  type: object
                  properties:
                    '0':
                      type: string
                      example: agreedArchiveBody_group
                    '1':
                      type: string
                      example: AgreedDistribute_group
                    '2':
                      type: string
                      example: agreedArchiveBody_group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/materialArchiveHeadCtrl/listWithChildren:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/archive/mat/materialArchiveHeadCtrl/listWithChildren (page)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_archive_mat_materialArchiveHeadCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchiveHead_group
                    'query:':
                      type: string
                      example: MaterialArchiveHead_group
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: head.enableflag
                      value:
                        type: array
                        items:
                          type: number
                          example: 0
                        example:
                          - 0
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: head.enableflag
                      value:
                        - 0
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/decoctRequirement/decoctRequirementCtrl/listByScheme:
    post:
      tags:
        - 协定方档案-公司
      summary: POST /pszxSaasServer/decoctRequirement/decoctRequirementCtrl/listByScheme (page)
      description: 捕获自页面「协定方档案-公司」
      operationId: post_pszxSaasServer_decoctRequirement_decoctRequirementCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: boolean
                  example: false
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: decoctRequirement_global
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: code
                      value:
                        type: array
                        items:
                          type: object
                        example: []
                      operation:
                        type: string
                        example: like
                  example:
                    - field: code
                      value: []
                      operation: like
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/basic/org/orgParamsTemplateCtrl/listByScheme:
    post:
      tags:
        - 参数模板设置-全局
      summary: POST /pszxSaasServer/basic/org/orgParamsTemplateCtrl/listByScheme (pageSize)
      description: 捕获自页面「参数模板设置-全局」
      operationId: post_pszxSaasServer_basic_org_orgParamsTemplateCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 7998f06343e8408d91339215b1c51320
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: code
                      operation:
                        type: string
                        example: like
                  example:
                    - id: 7998f06343e8408d91339215b1c51320
                      value:
                        - null
                      field: code
                      operation: like
                templateId:
                  type: string
                  example: 8d79634444ab4a9f8f884d41b75ffc34
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    auth:
                      type: string
                      example: OrgParamsTemplateGlobal
                    header:
                      type: string
                      example: OrgParamsTemplate_global
                    query:
                      type: string
                      example: OrgParamsTemplate_global
                    bill:
                      type: string
                      example: OrgParamsTemplate_global
                    controller:
                      type: string
                      example: /basic/org/orgParamsTemplateCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: OrgParamsTemplate_global
                        billType:
                          type: string
                          example: 参数模板设置表
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/sysDictionaryCtrl/list:
    get:
      tags:
        - 字典管理
      summary: GET /pszxSaasServer/sysmp/sysDictionaryCtrl/list
      description: 捕获自页面「字典管理」
      operationId: get_pszxSaasServer_sysmp_sysDictionaryCtrl_list
      parameters:
        - name: basicEntity.deleteflag
          in: query
          required: false
          schema:
            type: integer
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/quartzTaskConfigCtrl/list:
    get:
      tags:
        - 定时任务配置-全局
      summary: GET /pszxSaasServer/sysmp/quartzTaskConfigCtrl/list
      description: 捕获自页面「定时任务配置-全局」
      operationId: get_pszxSaasServer_sysmp_quartzTaskConfigCtrl_list
      parameters:
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
        - name: basicEntity.deleteflag
          in: query
          required: false
          schema:
            type: integer
        - name: basicEntity.orgFlag
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/sysmp/messageInfoCtrl/listUnreadMessages:
    get:
      tags:
        - 库存状态-全局
      summary: GET /pszxSaasServer/sysmp/messageInfoCtrl/listUnreadMessages
      description: 捕获自页面「库存状态-全局」
      operationId: get_pszxSaasServer_sysmp_messageInfoCtrl_listUnreadMessages
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/inventoryStatusCtrl/listByScheme:
    post:
      tags:
        - 库存状态-全局
      summary: POST /pszxSaasServer/archive/inventoryStatusCtrl/listByScheme (pageSize)
      description: 捕获自页面「库存状态-全局」
      operationId: post_pszxSaasServer_archive_inventoryStatusCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 11c3959c208f42db9ed1d7a46362ed68
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: code
                      operation:
                        type: string
                        example: like
                  example:
                    - id: 11c3959c208f42db9ed1d7a46362ed68
                      value:
                        - null
                      field: code
                      operation: like
                templateId:
                  type: string
                  example: 14cda4dedbc7453182f2bd86e86bb776
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: InventoryStatusGlobal
                    header:
                      type: string
                      example: InventoryStatus_global
                    query:
                      type: string
                      example: InventoryStatus_global
                    bill:
                      type: string
                      example: InventoryStatus_global
                    controller:
                      type: string
                      example: /archive/inventoryStatusCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: InventoryStatus_global
                        billType:
                          type: string
                          example: 库存状态
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/print/printTmpCtrl/listByScheme:
    post:
      tags:
        - 异常原因档案
      summary: POST /pszxSaasServer/print/printTmpCtrl/listByScheme (functionCodeObj)
      description: 捕获自页面「异常原因档案」
      operationId: post_pszxSaasServer_print_printTmpCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: PrintTmp_org
                    query:
                      type: string
                      example: PrintTmp_org
                page:
                  type: boolean
                  example: false
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        example: enableflag
                      value:
                        type: array
                        items:
                          type: string
                          example: '0'
                        example:
                          - '0'
                      operation:
                        type: string
                        example: eq
                  example:
                    - field: enableflag
                      value:
                        - '0'
                      operation: eq
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/main/exceptionReason/pszxExceptionReasonCtrl/listByScheme:
    post:
      tags:
        - 异常原因档案
      summary: POST /pszxSaasServer/main/exceptionReason/pszxExceptionReasonCtrl/listByScheme (pageSize)
      description: 捕获自页面「异常原因档案」
      operationId: post_pszxSaasServer_main_exceptionReason_pszxExceptionReasonCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 220aa0c6ff844361b9bda5909b45e8b0
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 220aa0c6ff844361b9bda5909b45e8b0
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 0e6a9d6ef11640babe799f1b0c092db4
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PszxExceptionReasonOrg
                    header:
                      type: string
                      example: PszxExceptionReason_org
                    query:
                      type: string
                      example: PszxExceptionReason_org
                    bill:
                      type: string
                      example: PszxExceptionReason_org
                    controller:
                      type: string
                      example: /main/exceptionReason/pszxExceptionReasonCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: PszxExceptionReason_org
                        billType:
                          type: string
                          example: 异常原因档案
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/org/orgWxAccountCtrl/listByScheme:
    post:
      tags:
        - 微信号管理-全局
      summary: POST /pszxSaasServer/org/orgWxAccountCtrl/listByScheme (pageSize)
      description: 捕获自页面「微信号管理-全局」
      operationId: post_pszxSaasServer_org_orgWxAccountCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1aeb07596994457e87c6cc9ff0558499
                      value:
                        type: array
                        items:
                          type: object
                          properties: {}
                        example:
                          - null
                      field:
                        type: string
                        example: originalId
                      operation:
                        type: string
                        example: like
                  example:
                    - id: 1aeb07596994457e87c6cc9ff0558499
                      value:
                        - null
                      field: originalId
                      operation: like
                templateId:
                  type: string
                  example: 2563f6f0b8204dd48c14e5a72c4d1cdc
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    auth:
                      type: string
                      example: OrgWxAccountGlobal
                    header:
                      type: string
                      example: OrgWxAccount_global
                    query:
                      type: string
                      example: OrgWxAccount_global
                    bill:
                      type: string
                      example: OrgWxAccount_global
                    controller:
                      type: string
                      example: /org/orgWxAccountCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: OrgWxAccount_global
                        billType:
                          type: string
                          example: 微信号管理表
                        orgLevel:
                          type: string
                          example: global
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/lotInfo/lotInfoCtrl/listByScheme:
    post:
      tags:
        - 批号-公司
      summary: POST /pszxSaasServer/lotInfo/lotInfoCtrl/listByScheme (pageSize)
      description: 捕获自页面「批号-公司」
      operationId: post_pszxSaasServer_lotInfo_lotInfoCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 5eaadf517c6f43ff80c77b9c372eca5e
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 5eaadf517c6f43ff80c77b9c372eca5e
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: 19f489e81fe247f3b739c848f5a9ddac
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PszxLotInfoGroup
                    header:
                      type: string
                      example: PSZX_LOT_INFO_group
                    query:
                      type: string
                      example: PSZX_LOT_INFO_group
                    bill:
                      type: string
                      example: PSZX_LOT_INFO_group
                    controller:
                      type: string
                      example: /lotInfo/lotInfoCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: PSZX_LOT_INFO_group
                        billType:
                          type: string
                          example: 批号表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/batchInfo/batchInfoCtrl/listByScheme:
    post:
      tags:
        - 批次号-公司
      summary: POST /pszxSaasServer/batchInfo/batchInfoCtrl/listByScheme (pageSize)
      description: 捕获自页面「批次号-公司」
      operationId: post_pszxSaasServer_batchInfo_batchInfoCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: e63a62e312e643ac9a0f92486b08edd1
                      value:
                        type: array
                        items:
                          type: string
                          example: '1787720377238028288'
                        example:
                          - '1787720377238028288'
                      field:
                        type: string
                        example: pkGroup
                      operation:
                        type: string
                        example: in
                  example:
                    - id: e63a62e312e643ac9a0f92486b08edd1
                      value:
                        - '1787720377238028288'
                        - global
                      field: pkGroup
                      operation: in
                templateId:
                  type: string
                  example: e100c42e327f4d79ab1be741170c8357
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isGroup:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: PszxBatchInfoGroup
                    header:
                      type: string
                      example: PSZX_BATCH_INFO_group
                    query:
                      type: string
                      example: PSZX_BATCH_INFO_group
                    bill:
                      type: string
                      example: PSZX_BATCH_INFO_group
                    controller:
                      type: string
                      example: /batchInfo/batchInfoCtrl
                    addNewParams:
                      type: object
                      properties: {}
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: PSZX_BATCH_INFO_group
                        billType:
                          type: string
                          example: 批次号表
                        orgLevel:
                          type: string
                          example: group
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/audit/auditRecordCtrl/listByScheme:
    post:
      tags:
        - 操作审计日志
      summary: POST /pszxSaasServer/audit/auditRecordCtrl/listByScheme (pageSize)
      description: 捕获自页面「操作审计日志」
      operationId: post_pszxSaasServer_audit_auditRecordCtrl_listByScheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                  example: 50
                pageNum:
                  type: number
                  example: 1
                sortName:
                  type: string
                  example: ''
                extQueryConditions:
                  type: array
                  items:
                    type: object
                  example: []
                queryConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 081c86aeddb645b396f1ee48e01d5a68
                      value:
                        type: array
                        items:
                          type: string
                          example: 00013A1000000000VGSD
                        example:
                          - 00013A1000000000VGSD
                      field:
                        type: string
                        example: pkOrg
                      operation:
                        type: string
                        example: in
                  example:
                    - id: 081c86aeddb645b396f1ee48e01d5a68
                      value:
                        - 00013A1000000000VGSD
                        - '1787720377238028288'
                        - global
                      field: pkOrg
                      operation: in
                templateId:
                  type: string
                  example: 8c45e92ad10b4a1bb979f7a6b2752e98
                groupByFields:
                  type: string
                  example: ''
                reloadColumnFlag:
                  type: number
                  example: 0
                functionCodeObj:
                  type: object
                  properties:
                    isFlow:
                      type: boolean
                      example: false
                    isOrg:
                      type: boolean
                      example: true
                    auth:
                      type: string
                      example: AuditRecordOrg
                    header:
                      type: string
                      example: AuditRecord_org
                    query:
                      type: string
                      example: AuditRecord_org
                    bill:
                      type: string
                      example: AuditRecord_org
                    controller:
                      type: string
                      example: /audit/auditRecordCtrl
                    importProperty:
                      type: object
                      properties:
                        functionCode:
                          type: string
                          example: AuditRecord_org
                        billType:
                          type: string
                          example: 审计记录
                        orgLevel:
                          type: string
                          example: org
      responses:
        '200':
          description: 成功
        '500':
          description: 服务器内部错误
  /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listWithChildren:
    post:
      tags:
        - 物料档案-公司
      summary: POST /pszxSaasServer/archive/mat/type/materialArchiveTypeHeadCtrl/listWithChildren (functionCode=MaterialArchiveTypeHead_group)
      description: 捕获自页面「物料档案-公司」
      operationId: post_pszxSaasServer_archive_mat_type_materialArchiveTypeHeadCtrl_listWithChildren
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                functionCode:
                  type: string
                  example: MaterialArchiveTypeHead_group
                functionCodeObj:
                  type: object
                  properties:
                    header:
                      type: string
                      example: MaterialArchiveTypeHead_group
                    query:
                      type: string
[...]
